<%= form_with(model: @customer, url: checkout_path, id: 'shippingForm', class: 'has-text-left', data: { controller: 'submit', target: 'submit.form' }) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_field :name, class: "input is-medium #{'is-danger' if @customer.errors[:name].any?}", placeholder: 'Your name' %>
    </div>
    <% if @customer.errors[:name].any? %>
      <% @customer.errors[:name].each do |message| %>
        <p class="help is-danger">Name <%= message %></p>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <div class="field has-addons">
      <div class="control">
        <a class="button is-static is-medium">+91</a>
      </div>
      <div class="control is-expanded">
        <%= f.phone_field :phone, class: "input is-medium #{'is-danger' if @customer.errors[:phone].any?}", placeholder: 'Your mobile number' %>
      </div>
    </div>
    <% if @customer.errors[:phone].any? %>
      <% @customer.errors[:phone].each do |message| %>
        <p class="help is-danger">Phone <%= message %></p>
      <% end %>
    <% end %>
  </div>

  <%= f.fields_for :address do |a_f| %>
    <div class="field">
      <%= a_f.label 'Street address', class: 'label' %>
      <div class="control">
        <%= a_f.text_field :address_line_1, class: "input is-medium #{'is-danger' if @customer.address.errors[:address_line_1].any?}", placeholder: 'Flat No. / Floor / Building' %>
      </div>
      <% if @customer.address.errors[:address_line_1].any? %>
        <% @customer.address.errors[:address_line_1].each do |message| %>
          <p class="help is-danger">Street address line 1 <%= message %></p>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <div class="control">
        <%= a_f.text_field :address_line_2, class: "input is-medium #{'is-danger' if @customer.address.errors[:address_line_2].any?}", placeholder: 'Colony / Street / Locality' %>
      </div>
      <% if @customer.address.errors[:address_line_2].any? %>
        <% @customer.address.errors[:address_line_2].each do |message| %>
          <p class="help is-danger">Street address line 2 <%= message %></p>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= a_f.label 'Landmark', class: 'label' %>
      <div class="control">
        <%= a_f.text_field :landmark, class: "input is-medium #{'is-danger' if @customer.address.errors[:landmark].any?}", placeholder: 'E.g. Near Sakra Hospital' %>
      </div>
      <% if @customer.address.errors[:landmark].any? %>
        <% @customer.address.errors[:landmark].each do |message| %>
          <p class="help is-danger">Landmark <%= message %></p>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= a_f.label 'City (or Town)', class: 'label' %>
      <div class="control">
        <%= a_f.text_field :city, class: "input is-medium #{'is-danger' if @customer.address.errors[:city].any?}", placeholder: "Name of your city/town" %>
      </div>
      <% if @customer.address.errors[:city].any? %>
        <% @customer.address.errors[:city].each do |message| %>
          <p class="help is-danger">City name <%= message %></p>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= a_f.label 'State', class: 'label' %>
      <div class="control">
        <div class="select is-medium <%= 'is-danger' if @customer.address.errors[:state].any? %>">
          <%= a_f.select :state, options_for_state_select(@customer.address.state) %>
        </div>
      </div>
      <% if @customer.address.errors[:state].any? %>
        <% @customer.address.errors[:state].each do |message| %>
          <p class="help is-danger">State name <%= message %></p>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= a_f.label 'Pincode', class: 'label' %>
        <div class="control">
          <%= a_f.phone_field :pincode, class: "input is-medium #{'is-danger' if @customer.address.errors[:pincode].any?}", placeholder: '6-digit area pincode' %>
        </div>
      <% if @customer.address.errors[:pincode].any? %>
        <% @customer.address.errors[:pincode].each do |message| %>
          <p class="help is-danger">Pincode <%= message %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
