<% provide(:title, current_brand.name) %>

<% if @products.any? %>
  <section class="section topmost-section">
    <% @products.each_slice(3) do |slice| %>
      <div class="tile is-ancestor">
      <% filler_tile_count = 3 - slice.size %>
      <% slice.each do |product| %>
        <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <article class="tile is-child">
              <figure class="image" style="margin-bottom: 20px !important;">
                <%= image_tag product.photos.first.variant(resize: "480") %>
              </figure>
              <p class="title is-4"><%= product.name %></p>
              <p><%= product.description.truncate(100) %></p>
            </article>
          </div>
          <div class="tile is-child">
            <div class="level">
              <div class="level-item">
                <%= render 'add_to_cart_form', product: product, brand: current_brand %>
              </div>
              <div class="level-item">
                <p class="title is-5"><%= number_to_currency(product.price, unit: '₹', format: '%u %n') %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% filler_tile_count.times do %>
        <div class="tile is-parent is-vertical">
          <article class="tile is-child">
          </article>
        </div>
      <% end %>
      </div>
    <% end %>
  </section>
<% else %>
  <section class="section topmost-section">
    <div class="content">
      <h3 class="title">This store is empty right now, but it will soon have some nice products for sale. Please check back again!</h3>
    </div>
  </section>
<% end %>
