<% provide(:meta_description, 'Agorium is a decentralized, zero-commission, rent-free ecommerce marketplace designed for small retailers in India.') %>

<section class="section topmost-section">
  <div class="columns is-vcentered">
    <div class="column is-7">
      <div class="content">
        <p class="title is-1">
          Sell your products. Own your data. Pay no commission. Trade freely.
        </p>
        <p class="subtitle is-4 has-text-grey">
          Agorium is a decentralized, zero-commission, rent-free ecommerce marketplace designed for small retailers in India. <%= link_to 'Sign up', signup_path, class: 'has-text-primary' %> to start selling your products now.
        </p>
      </div>
    </div>

    <div class="column is-5 is-flex" style="justify-content: center;">
      <figure class="image">
        <%= image_tag('illustrations/main_tiny.png', style: 'max-width: 480px;', alt: 'Illustration showing open market.') %>
      </figure>
    </div>
  </div>
</section>

<hr />

<section class="section">
  <div class="columns is-vcentered is-flex has-columns-reverse">
    <div class="column is-4">
      <figure class="image">
        <%= image_tag('illustrations/open_customer_data_tiny.png', style: 'max-width: 300px;', alt: 'Illustration showing free communication between two people.') %>
      </figure>
    </div>
    <div class="column">
      <div class="content">
        <h3 class="title is-4 is-spaced">Open customer data</h3>
        <p class="subtitle is-5">
          Agorium does not create a wall between you and your customers. In fact we've designed specific features for you to establish long-term relationships with your buyers, just like the good old days of in-person retail.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-vcentered">
    <div class="column">
      <div class="content">
        <h3 class="title is-4 is-spaced">Zero-commission</h3>
        <p class="subtitle is-5">
          We don't take any cut from your sales, no matter the size of your transactions. We keep Agorium running by charging a small fee for few premium features – product photography, branding, or running marketing campaigns for your business.
        </p>
      </div>
    </div>
    <div class="column is-4 is-flex" style="justify-content: center;">
      <figure class="image">
        <%= image_tag('illustrations/zero_commission_tiny.png', style: 'max-width: 300px;', alt: 'Illustration showing businesswoman having a lot of money.') %>
      </figure>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-vcentered is-flex has-columns-reverse">
    <div class="column is-4">
      <figure class="image">
        <%= image_tag('illustrations/quick_setup_tiny.png', style: 'max-width: 300px;', alt: 'Illustration showing a slick software user interface.') %>
      </figure>
    </div>
    <div class="column">
      <div class="content">
        <h3 class="title is-4 is-spaced">Setup in minutes</h3>
        <p class="subtitle is-5">
          We put a lot of love and effort in making Agorium's interface simple, beautifully designed and fun-to-use. Our side-mission is to design software that makes our users smile. We want to make selling products online feel like a video game.
        </p>
      </div>
    </div>
  </div>
</section>

<hr />

<section class="section">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <div class="content">
        <p class="title is-3 has-text-centered">
          Why we started Agorium
        </p>
        <p class="subtitle is-4 has-text-grey">
          Traditional ecommerce marketplaces today gobble up most of the value they create – in the form of margins, customer relationship, and data – making small sellers 'second-class citizens' in the process. It really doesn't have to be this way. Agorium is focused on flipping this model over its head. We've managed to design an open platform model that provides most of the value to the retailers themselves, taking only a tiny amount in return. We're calling it Agorium because this concept is built upon the core value of <i><%= link_to 'Agora markets', 'https://en.wikipedia.org/wiki/Agora' %></i> of the ancient Greek city-states, viz. giving the power to sell freely to the small businesses.
        </p>
      </div>
    </div>
  </div>
</section>

<hr />

<section class="section">
  <div class="content">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title">Stay up to date</p>
        <p class="subtitle is-4">Interested in how this project fares? Enter your email to receive our updates.</p>
      </div>

      <div class="column">
        <%= render 'subscribers/form', subscriber: Subscriber.new, formId: 'subscriptionForm' %>
      </div>
    </div>
  </div>
</section>
