<%= form_with(model: subscriber, url: subscribers_path, id: formId, data: { controller: 'submit', target: 'submit.form' }) do |f| %>
  <div class="field has-addons">
    <div class="control is-expanded">
      <%= f.email_field :email, class: "input is-medium #{'is-danger' if subscriber.errors.any?}", placeholder: 'Email address' %>
      <% if subscriber.errors.any? %>
        <% subscriber.errors.full_messages.each do |message| %>
          <p class="help is-danger"><%= message %></p>
        <% end %>
      <% end %>
    </div>

    <%= f.hidden_field :form_id, value: formId %>

    <div class="control">
      <%= f.button 'Subscribe', class: 'button is-info is-medium', data: {
        disable_with: 'Subscribe',
        action: 'submit#process',
        target: 'submit.button'
      } %>
    </div>
  </div>
<% end%>
