<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title('Agorium - Seller Admin', yield(:title)) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-head" style="padding: 1.0rem;">
        <nav class="level is-mobile" role="navigation" aria-label="main navigation">
          <div class="level-left">
            <div class="level-item has-text-centered">
              <%= link_to(root_path) do %>
                <%= image_tag('A_logo_small.png', alt: 'Agorium: Free, open source, & decentralized ecommerce marketplace', width: 42, height: 42) %>
              <% end %>
            </div>
          </div>

          <p class="level-item has-text-centered is-hidden-touch">
            <%= image_tag('agorium_black_tiny.png', style: 'height: 30px;') %>
          </p>

          <div class="level-right">
            <p class="level-item">
              <%= yield(:navigation_action) %>
            </p>
          </div>
        </nav>
      </div>

      <div class="hero-body is-block" style="padding-top: 2.0rem; padding-bottom: 5.0rem;">
        <div class="container">
          <%= render 'shared/flash' %>
          <%= yield %>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="navbar is-fixed-bottom is-hidden-desktop has-shadow has-background-white-bis" role="navigation">
          <div class="navbar-brand">
            <%= link_to admin_dashboard_index_path, class: "navbar-item is-expanded is-block has-text-centered #{'is-active' if controller_name == 'dashboard'}" do %>
              <i class="fa fa-chart-line"></i>
              <p>Dashboard</p>
            <% end %>
            <%= link_to admin_products_path, class: "navbar-item is-expanded is-block has-text-centered #{'is-active' if controller_name == 'products'}" do %>
              <i class="fa fa-tags"></i>
              <p>Products</p>
            <% end %>
            <%= link_to admin_orders_path, class: "navbar-item is-expanded is-block has-text-centered #{'is-active' if controller_name == 'orders'}" do %>
              <i class="fa fa-shopping-basket"></i>
              <p>Orders</p>
            <% end %>
            <%= link_to admin_settings_path, class: "navbar-item is-expanded is-block has-text-centered #{'is-active' if controller_name == 'settings'}" do %>
              <i class="fa fa-cog"></i>
              <p>Settings</p>
            <% end %>
          </div>
        </nav>

        <nav class="navbar tabs is-fixed-bottom is-boxed is-medium is-fullwidth is-hidden-touch has-background-white-bis has-shadow" role="navigation">
          <ul>
            <li class="<%= 'is-active' if controller_name == 'dashboard' %>">
              <%= link_to admin_dashboard_index_path do %>
                <span class="icon is-small"><i class="fa fa-chart-line" aria-hidden="true"></i></span>
                <span>Dashboard</span>
              <% end %>
            </li>
            <li class="<%= 'is-active' if controller_name == 'products' %>">
              <%= link_to admin_products_path do %>
                <span class="icon is-small"><i class="fa fa-tags" aria-hidden="true"></i></span>
                <span>Products</span>
              <% end %>
            </li>
            <li class="<%= 'is-active' if controller_name == 'orders' %>">
              <%= link_to admin_orders_path do %>
                <span class="icon is-small"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
                <span>Orders</span>
              <% end %>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fa fa-users" aria-hidden="true"></i></span>
                <span>Customers</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                <span>Payments</span>
              </a>
            </li>
            <li class="<%= 'is-active' if controller_name == 'settings' %>">
              <%= link_to admin_settings_path do %>
                <span class="icon is-small"><i class="fa fa-tags" aria-hidden="true"></i></span>
                <span>Settings</span>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </body>
</html>
