<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agorium - Seller Admin - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" data-controller="visibility">
      <div class="navbar-brand">
        <%= link_to(root_path, class: 'navbar-item') do %>
          <%= image_tag('A_logo_tiny.png', alt: 'Agorium: Free, open source, & decentralized ecommerce marketplace', width: 28, height: 28) %>
          <%= image_tag('agorium_black_small.png', width: 110, style: 'margin-left: 5px !important') %>
        <% end %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="visibility#toggle" data-target="visibility.section">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" data-target="visibility.section">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to('Log out', logout_path, class: 'button', method: :delete) %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="section">
      <div class="columns">
        <div class="column is-one-fifth">
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><%= link_to 'Dashboard', admin_path, class: "#{'is-active' if controller_name == 'admin'}" %></li>
              <li><%= link_to 'Customers', '#', class: "#{'is-active' if controller_name == 'customers'}" %></li>
              <li><%= link_to 'Products', admin_products_path, class: "#{'is-active' if controller_name == 'products'}" %></li>
              <li><%= link_to 'Orders', '#', class: "#{'is-active' if controller_name == 'orders'}" %></li>
            </ul>
            <p class="menu-label">
              Settings
            </p>
            <ul class="menu-list">
              <li><a>Payments</a></li>
              <li><a>Account</a></li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <%= render 'layouts/flash' %>
          <%= yield %>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>© 2019 Agorium</p>
      </div>
    </footer>
  </body>
</html>
