<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agorium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation" data-controller="visibility">
      <div class="navbar-brand">
        <%= link_to(root_path, class: 'navbar-item') do %>
          <%= image_tag('A_logo_tiny.png', alt: 'Agorium: Free, open source, & decentralized ecommerce marketplace', width: 28, height: 28) %>
          <%= image_tag('agorium_small.png', width: 110, style: 'margin-left: 5px !important') %>
        <% end %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="click->visibility#toggle" data-target="visibility.section">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" data-target="visibility.section">
        <div class="navbar-start">
          <%= link_to('How it works', '#', class: 'navbar-item') %>
          <div class="navbar-item has-dropdown is-hoverable">
            <%= link_to('More', '#', class: 'navbar-link') %>
            <div class="navbar-dropdown">
              <%= link_to('About', '#', class: 'navbar-item') %>
              <%= link_to('Jobs', '#', class: 'navbar-item') %>
              <%= link_to('Contact', '#', class: 'navbar-item') %>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to(signup_path, class: 'button is-primary') do %>
                <strong>Sign up</strong>
              <% end %>
              <%= link_to('Log in', nil, class: 'button') %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Agorium</strong> is a decentralized, zero-commission, no-fee marketplace, just like the <i>Agoras</i> of the ancient Greek city-states. We're building this platform specifically for small sellers in India to bring their businesses online.
        </p>
        <p>
          The source code of Agorium will be licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content will get licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
        <p>© 2019-2020</p>
      </div>
    </footer>
  </body>
</html>
