<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title(yield(:title)) %></title>
    <meta name='description' content='<%= yield(:meta_description) %>' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'shared/social_meta_tags' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar is-spaced" role="navigation" aria-label="main navigation" data-controller="visibility">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to(root_path, class: 'navbar-item') do %>
            <%= image_tag('agorium_logo_small.png', alt: 'Agorium: Free, open source, & decentralized ecommerce marketplace', width: 40, style: 'max-height: 2.5rem;') %>
            <%= image_tag('agorium_font_black_small.png', width: 150, style: 'margin-left: 12px !important') %>
          <% end %>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="visibility#toggle" data-target="visibility.section">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" data-target="visibility.section">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if logged_in? %>
                  <%= link_to('Seller admin', admin_root_path, class: 'button') %>
                <% else %>
                  <%= link_to(signup_path, class: 'button is-primary') do %>
                    <strong>Start selling</strong>
                  <% end %>
                  <%= link_to('Log in', login_path, class: 'button') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>© 2019 Agorium</p>
      </div>
    </footer>
  </body>
</html>
