<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agorium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation" data-controller="visibility">
      <div class="navbar-brand">
        <%= link_to(root_path, class: 'navbar-item') do %>
          <%= image_tag('A_logo_tiny.png', alt: 'Agorium: Free, open source, & decentralized ecommerce marketplace', width: 28, height: 28) %>
          <%= image_tag('agorium_small.png', width: 110, style: 'margin-left: 5px !important') %>
        <% end %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-action="click->visibility#toggle" data-target="visibility.section">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" data-target="visibility.section">
        <div class="navbar-end">
          <%= link_to('How it works', '#', class: 'navbar-item') %>
          <%= link_to('Blog', '#', class: 'navbar-item') %>
          <%= mail_to('gaurav@agorium.io', 'Jobs', class: 'navbar-item') %>
          <%= mail_to('gaurav@agorium.io', 'Contact', class: 'navbar-item') %>
          <div class="navbar-item">
            <div class="buttons">
              <% if logged_in? %>
                <%= link_to('Seller admin', nil, class: 'button') %>
              <% else %>
                <%= link_to(signup_path, class: 'button is-primary') do %>
                  <strong>Sign up</strong>
                <% end %>
                <%= link_to('Log in', login_path, class: 'button') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>© 2019 Agorium</p>
      </div>
    </footer>
  </body>
</html>
