<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agorium - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <section class="hero is-light is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
              <div style="margin: 20px !important">
                <figure class="image container is-64x64">
                  <%= image_tag 'A_logo_small.png' %>
                </figure>
              </div>

              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
