<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title('Agorium - Brand', yield(:title)) %></title>
    <meta name='description' content='<%= yield(:meta_description) %>' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <section class="section">
      <div class="container has-text-centered">
        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>© 2019 <%= yield(:title) %> - Powered by <%= link_to 'Agorium', 'https://agorium.io' %></p>
      </div>
    </footer>
  </body>
</html>
