<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title('Agorium - Brand', yield(:title)) %></title>
    <meta name='description' content='<%= yield(:meta_description) %>' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <section class="section">
      <div class="container has-text-centered">
        <div class="content">
          <%= link_to storefront_path(current_brand.handle) do %>
            <h1 class="title is-1"><%= current_brand.name %></h1>
          <% end %>
          <p class="subtitle">Brand tagline</p>
        </div>

        <div class="tabs">
          <ul>
            <li class="<%= 'is-active' if action_name == 'show' %>">
              <%= link_to storefront_path(current_brand.handle) do %>
                <span class="icon"><i class="fas fa-tags" aria-hidden="true"></i></span>
                <span>Products</span>
              <% end %>
            </li>
            <li>
              <a>
                <span class="icon"><i class="fas fa-info" aria-hidden="true"></i></span>
                <span>About us</span>
              </a>
            </li>
            <li class="<%= 'is-active' if action_name == 'show_cart' %>" style="margin-left: auto;">
              <%= render 'storefront/cart_link' %>
            </li>
          </ul>
        </div>

        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>© 2019 <%= current_brand.name %> - Powered by <%= link_to 'Agorium', 'https://agorium.io' %></p>
      </div>
    </footer>
  </body>
</html>
