<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title('Agorium - Brand', yield(:title)) %></title>
    <meta name='description' content='<%= yield(:meta_description) %>' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <section class="section topmost-section">
      <div class="container has-text-centered">
        <div class="content">
          <h2 class="title is-2"><%= link_to current_brand.name, storefront_path(current_brand.handle), class: 'has-text-dark' %></h2>
          <p class="subtitle"><%= current_brand.tagline.presence || 'Brand tagline goes here' %></p>
        </div>

        <% if navigation_type == :tabs %>
          <div class="tabs">
            <ul>
              <li class="<%= 'is-active' if action_name == 'show' %>">
                <%= link_to storefront_path(current_brand.handle) do %>
                  <span class="icon"><i class="fas fa-tags" aria-hidden="true"></i></span>
                  <span>Products</span>
                <% end %>
              </li>
              <li>
                <a>
                  <span class="icon"><i class="fas fa-store" aria-hidden="true"></i></span>
                  <span>About us</span>
                </a>
              </li>
              <li class="<%= 'is-active' if action_name == 'show_cart' %>" style="margin-left: auto;">
                <%= render 'storefront/cart_link' %>
              </li>
            </ul>
          </div>
        <% end %>

        <% if navigation_type == :breadcrumb %>
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <%= link_to cart_path(current_brand.handle) do %>
                  <span class="icon is-small">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                  </span>
                  <span>Cart</span>
                <% end %>
              </li>
              <li class="<%= 'is-active' if controller_name == 'checkout' %>">
                <%= link_to new_checkout_path(current_brand.handle) do %>
                  <span class="icon is-small">
                    <i class="fas fa-cash-register" aria-hidden="true"></i>
                  </span>
                  <span>Checkout</span>
                <% end %>
              </li>
            </ul>
          </nav>
        <% end %>

        <%= render 'shared/flash' %>
        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>© 2019 <%= current_brand.name %> - Built with <%= link_to 'Agorium', 'https://agorium.io' %></p>
      </div>
    </footer>
  </body>
</html>
